# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

/blender
/src/comps/dashboard/tiles/room/classroom.glb
/src/comps/dashboard/tiles/room/Buildings.glb

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
debug_log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
yarn.lock
countlines.sh
debug.log
BestPractices.md