.dashboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.dashboard-container {
  width: 80vw;
  min-height: 80vh;
  padding: 20px;
  border: 6px solid rgba(256, 256, 256, 0.9);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .dashboard-container {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

.dashboard-header {
  margin-bottom: 20px;
  text-align: center;
}

.dashboard-content {
  display: flex;
  flex-direction: unset;
  flex-wrap: wrap;
}

.dashboard-wrapper h2 {
  font-family: var(--font-primary);
  letter-spacing: 0.05em;
  font-size: 6rem;
  font-weight: 100;
}