.cloudsContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
  opacity: 0.9;
}

.cloud {
  position: absolute;
  transform: scale(var(--cloud-scale)) translateZ(0);
  animation: moveCloud var(--duration) linear forwards;
  filter: drop-shadow(16px 24px 16px rgba(0, 0, 0, 0.2));
  color: #fff;
  will-change: transform;
  opacity: 0.8;
}

.cloud svg {
  width: 100%;
  height: 100%;
}

@keyframes moveCloud {
  from {
    transform: scale(var(--cloud-scale)) translateX(-20vw) translateZ(0);
  }
  to {
    transform: scale(var(--cloud-scale)) translateX(120vw) translateZ(0);
  }
} 