.occupants-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  padding: 1rem;
}

.activity-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px; /* Increased from 300px */
  padding: 1rem;
  box-sizing: border-box;
}

.activity-icon {
  margin-bottom: 1rem;
}

.activity-icon svg {
  width: 125px;  /* Increased from 48px */
  height: 125px; /* Increased from 48px */
  fill: white;
}

.activity-slider {
  width: calc(100% - 20px); /* Subtracting the total horizontal padding */
  margin: 0 auto; /* Center the slider */
  color: white;
}

.activity-label {
  color: white;
  margin-top: 0.5rem;
  text-align: center;
}

.current-activity {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.group-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: center;
}

.group-name {
  flex: 2;
  margin-right: 0.5rem;
}

.group-count, .group-age {
  flex: 1;
  margin-right: 0.5rem;
}

.add-group-button, .remove-group-button {
  color: white !important;
}

.add-group-button {
  align-self: center;
  margin-top: 1rem;
}

/* Ensure the icon is white and larger */
.activity-slider-container svg {
  fill: white;
  width: 48px;  /* Increased from 24px */
  height: 48px; /* Increased from 24px */
}

.group-name input,
.group-count input,
.group-age input {
  color: white;
}

.group-name fieldset,
.group-count fieldset,
.group-age fieldset {
  border-color: white !important;
}

.groups-container {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.group-inputs {
  display: flex;
  justify-content: center;
  width: 100%;
}

.group-input {
  width: 61%;
}

.remove-group-button {
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .group-inputs {
    flex-direction: column;
    width: 100%;
  }

  .group-name,
  .group-count,
  .group-age {
    margin-right: 0;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .activity-slider-container {
    flex-direction: column;
    padding: 2rem;
    max-width: 100%; /* Ensure full width on mobile */
  }

  .activity-slider {
    margin: 1rem 0;
  }
}

.group-name {
  margin-right: 5px;
}

.group-count {
  margin-right: 5px;
}

.tile-icon {
  fill: white;
  width: 24px;
  height: 24px;
}

.activity-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
  padding: 0 10px;
  width: 100%;
}

.activity-icon {
  opacity: 0.5;
  transition: opacity 0.3s ease;
  margin: 10px;
  flex: 0 0 auto;
}

.activity-icon.active {
  opacity: 1;
}

.activity-icon svg {
  width: 60px;
  height: 60px;
}

@media (max-width: 768px) {
  .activity-icons {
    justify-content: center;
  }

  .activity-icon svg {
    width: 50px;
    height: 50px;
  }
}

.group-name {
  margin-right: 5px;
}

.group-count {
  margin-right: 5px;
}
